#drum-machine {


    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows:  repeat(4, 75px);
    grid-gap: 15px 15px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    font-size: 3.5ch;

}

#display {
    grid-column: 1 / 4;
        background-color: #30414D;
        opacity: 0.9;
}

#display {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.drum-pad {
    background-color: #30414D;
    opacity: 0.6;


    border-radius: 15px;

}

.drum-pad:hover {
    background-color: #30414D;
    opacity: 0.9; 
}

button {
    color: rgb(0, 0, 0);
    font-size: 4ch;

}
